div{
    text-align: center;
}
ul{
    text-align: left;
    list-style: none;
    padding: 0;
}
#container{
    border: 2px solid grey;
    width: 360px;
    margin: 0 auto;
}
.done{
    text-decoration: line-through;
    color: grey;
}
span{
    /*display: none;*/
    float: left;
}
i{
    color: red;
}